<footer class="p-3 d-flex justify-content-between mt-4">

  <div class="footer-copyright icon">
    This page was made with <i class="fa-regular fa-heart"></i> by Le Wagon Students
   </div>
    <div>
    <a href="https://github.com/FabioWaideman" class="github_link text-reset" title="Fabio Waideman"><i class="fab fa-github"></i></a>
    <a href="https://github.com/gpcmello" class="github_link text-reset" title="Guilherme Mello"><i class="fab fa-github"></i></a>
    <a href="https://github.com/Lenilda-Miranda" class="github_link text-reset" title="Lenilda Miranda"><i class="fab fa-github"></i></a>
  </div>
</footer>
