<footer class="p-3 d-flex justify-content-between mt-4">

  <div class="footer-copyright icon">
    This page was made with <i class="fa-regular fa-heart"></i> by Le Wagon Students
   </div>
    <div>
    <a href="https://github.com/FabioWaideman" class="github_link text-reset" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Fabio Waideman" data-bs-custom-class="custom-tooltip"><i class="fab fa-github"></i></a>
    <a href="https://github.com/gpcmello" class="github_link text-reset" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Guilherme Mello" data-bs-custom-class="custom-tooltip"><i class="fab fa-github"></i></a>
    <a href="https://github.com/Lenilda-Miranda" class="github_link text-reset" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Lenilda Miranda" data-bs-custom-class="custom-tooltip"><i class="fab fa-github"></i></a>
  </div>
</footer>
