<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div id="home-lettering" class="container d-flex flex-column justify-content-center align-items-center my-auto" style="margin-top: 50%;">
    <h1 class="text-center">my readings</h1>
    <hr class="w-25">
    <p class="mx-4 text-center">Where imagination has no limits</p>
  </div>
</div>
