footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f7dc;
  color: #C58940
}

.github_link {
  color: #C58940
}

.custom-tooltip {
  --bs-tooltip-bg: #d6a76d !important;
  --bs-tooltip-color: #1f1509 !important;
}
