@import url('https://fonts.googleapis.com/css2?family=Lobster');

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-container {
  background-color: #f9f7dc;
}

.btn-my {
  background-color: #ef8535 !important;
}

#logo-div h4 {
  font-family: 'Lobster', sans-serif;
  color: #C58940;
}

.mybutton {
	background: linear-gradient(to bottom, #eae0c2 5%, #E5BA73 100%);
  background-color: #E5BA73;
  border-radius: 30px;
  border: 1px solid #a8a190;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  transition: 0.3s;
}
.mybutton:hover {
  transition: 0.3s;
	background:linear-gradient(to bottom, #ccc2a6 5%, #E5BA73 100%);
	background-color:#E5BA73;
  color: #505739;
}
.mybutton:active {
	position:relative;
	top:1px;
}

.search-input::placeholder {
  font-style: italic;
}

.delete-button {
	box-shadow: inset 0px 34px 0px -15px #c92c14;
  background-color: #bf260f;
  border-radius: 19px;
  /* border: 1px solid #241d13; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 2px 19px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
  transition: 0.3s;
}
.delete-button:hover {
  transition:0.3s;
  box-shadow:inset 0px 34px 0px -15px #a3230f;
	background-color:#9b2414;
  color: #ffffff;
}
.delete-button:active {
	position:relative;
	top:1px;
}
