  .card-height {
    height: 500px;
  }

  .card-img-top {
    width: auto;
    height: 100%;
    position: relative;
    background-size: cover;
    object-fit: cover !important;
  }

  .card-img-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffe4b5;
    opacity: 0.5;
  }

  .card-glass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 100px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-glass img {
  max-height: 200%;
  max-width: 200%;
  border-radius: 200px;


}

.card-glass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgot-password {
    float: right;
  }

  .logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-image {
  max-width: 100px;
  margin-right: 470px;
}

.login-form {
  width: 100%;
  margin: auto;
}

.form-group {
  margin-bottom: 10px;
}
